<h3>Upcoming Meetings:</h3><br>
  <table id="table-design">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Location</th>
      </tr>
    </thead>

    <tbody>
      <% location_upcoming.meetings.where(['start_time > ?', DateTime.now]).order(:start_time).limit(5).each do |meeting| %>
        <tr>
          <td><%= link_to meeting.name, meeting %></td>
          <td><%= meeting.start_time.strftime("%A, %B %d, %Y at %l:%M%p") %></td>
          <td><%= meeting.end_time.strftime("%A, %B %d, %Y at %l:%M%p") %></td>
          <td><%= meeting.location.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>